<!-- <%= form_for(song) do |f| %>
  <div class="form-group <%= song.errors.any? ? 'has-error' : '' %>" id="formgroup-title">
    <%= f.text_field :title, placeholder: "Enter a song title.", class: 'form-control' %>

    <% if song.errors.any? %>
      <% song.errors.full_messages.each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>
<% end %> -->
